html {
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    background: white;
    color: #1E2019;
    font-family: 'Josefin Sans', sans-serif;
    line-height: 1.2em;
    margin: 0;
    padding: 0;
    height: 100%;
}

.container {
    top: 20px;
    display: none;
    position: absolute;
    top: 34%;
    left: 4%;
    padding: 20px;
    background: rgba(0,0,0,0.4);
    width: fit-content;
}

#password-input {
    position: absolute;
    top: -1000px;
}

#err-fakeout {
    width: 600px;
    margin: 0 auto;
    margin-top: 40px;
}

#fakeout-img {
    width: 500px;
}

#page-content {
    color: #FC8EAC;
}