body {
    background: white;
    /* color: #0C1713; */
    color: #1E2019;
    font-family: 'Josefin Sans', sans-serif;
    line-height: 1.2em;
}

.container {
    position: relative;
    top: 20px;
    display: none;
}

#password-input {
    position: absolute;
    top: -1000px;
}

#err-fakeout {
    width: 600px;
    margin: 0 auto;
    margin-top: 40px;
}

#fakeout-img {
    width: 500px;
}